<div class="card-group product-box zoomOnHover">
  <a href="/products/detail/<%= product.id %>">
    <img src="/img/products/<%= product.img %>" alt="" />
    <div>
      <h2>
        <%= product.name%>
      </h2>
      <h2>
        <%= "$" + product.price%>
      </h2>
    </div>
  </a>
</div>
