<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: "Productos"}) %>
  </head>

  <body>
    <h1>Main de Productos</h1>
    <!--FOOTER-->
    <%- include("partials/footer") %>
    <!-- /FOOTER-->
  </body>
</html>
