<%- include("partials/head") %>

<body>
    <%- include("partials/header", {title: "Inicio"}) %>
    <main class="container mainProduct">
        <div class="row">
            <h1 class="col-md-12"></h1>
            <% for (let product of todoslosproductos){ %>
            <article class="col-12 col-md-4">
                <%- include("components/productCard", {product}) %>
            </article>
            <%}%>
        </div>
    </main>


    <%- include("partials/footer") %>
</body>